@mixin font-face {
  font-family: "DidotLTStd-Italic";
  src: url("./fonts/DidotLTStd-Italic/DidotLTStd-Italic.eot");
  src: url("./fonts/DidotLTStd-Italic/DidotLTStd-Italic.ttf");
  src: url("./fonts/DidotLTStd-Italic/DidotLTStd-Italic.woff");
}

@mixin font-face {
  font-family: "LeagueGothic";
  src: url("./fonts/LeagueGothic/LeagueGothic.eot");
  src: url("./fonts/LeagueGothic/LeagueGothic.ttf");
  src: url("./fonts/LeagueGothic/LeagueGothic.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-Black";
  src: url("./fonts/SourceSansPro-Black/SourceSansPro-Black.eot");
  src: url("./fonts/SourceSansPro-Black/SourceSansPro-Black.ttf");
  src: url("./fonts/SourceSansPro-Black/SourceSansPro-Black.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-BlackIt";
  src: url("./fonts/SourceSansPro-BlackIt/SourceSansPro-BlackIt.eot");
  src: url("./fonts/SourceSansPro-BlackIt/SourceSansPro-BlackIt.ttf");
  src: url("./fonts/SourceSansPro-BlackIt/SourceSansPro-BlackIt.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-Bold";
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot");
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf");
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-BoldIt";
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt.eot");
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt.ttf");
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("./fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.eot");
  src: url("./fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.ttf");
  src: url("./fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-It";
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It.eot");
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It.ttf");
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-Light";
  src: url("./fonts/SourceSansPro-Light/SourceSansPro-Light.eot");
  src: url("./fonts/SourceSansPro-Light/SourceSansPro-Light.ttf");
  src: url("./fonts/SourceSansPro-Light/SourceSansPro-Light.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-LightIt";
  src: url("./fonts/SourceSansPro-LightIt/SourceSansPro-LightIt.eot");
  src: url("./fonts/SourceSansPro-LightIt/SourceSansPro-LightIt.ttf");
  src: url("./fonts/SourceSansPro-LightIt/SourceSansPro-LightIt.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-Regular";
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot");
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf");
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot");
  src: url("./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf");
  src: url("./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff");
}

@mixin font-face {
  font-family: "SourceSansPro-SemiboldIt";
  src: url("./fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot");
  src: url("./fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf");
  src: url("./fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.woff");
}
